<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="xdd" content="">
    <link rel="icon" href="">

    <title>Database</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../static/css/fileinput.min.css">
	<!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target="#scroll-listen-top-nav">

    <nav id="second-background"  class="navbar navbar-default">
    	<div class="container">
			<div class="row">
				<div id="logo" class="col-lg-3 col-md-3 col-sm-3">
					<!--<a href="#"><img src="../imgs/top-background.jpg" alt="Logo"></a>-->
					<a href="#"><p>DB-Logo</p></a>
				</div>
				<div id="discribe" class="col-lg-5 col-md-4 col-sm-4">
					<p>say something to describe this website!!! <br />somthing is amazing!!! </p>
					s
				</div>
				<div id="search" class="col-lg-4 col-md-5 col-sm-5">
					
					<form action="" method="get" name="" class="form-inline" id="searchform">
						<h4>
							Quick Search
						</h4>
						<div class="form-group">
	                    	<input type="text" class="form-control" name="" id="searchBar"value="" placeholder="Search by ID">
	                    	<button type="submit" class="btn btn-primary" id="searchButton">
	                    		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	                    	</button>
	                    </div>
	              </form>
				</div>
			</div>
		</div>
    </nav>
    
    <div id='menu_wrap'>    
        <div class='menu'>
		    <nav class="navbar navbar-default setheight">
		      <div class="container navbar-example">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#scroll-listen-top-nav" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		        </div>
		        <div id="scroll-listen-top-nav" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav setheight">
		            <li style="border-right: 1px solid #dee0e5;border-left: 1px solid #dee0e5;"><a href="#">Home</a></li>
		            <li style="border-right: 1px solid #dee0e5;"><a href="#Deposit">Deposit</a></li>
		            <li style="border-right: 1px solid #dee0e5;"><a href="#Search">Search</a></li>
		            <li class="current" style="border-right: 1px solid #dee0e5;"><a href="#analyze">Analyze</a></li>
		            <li style="border-right: 1px solid #dee0e5;"><a href="#download">Download</a></li>
		            <li class="dropdown" style="border-right: 1px solid #dee0e5;">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
		              <ul class="dropdown-menu">
		                <li><a href="#about">About</a></li>
		                <li><a href="#contact" >Contact</a></li>
		              </ul>
		            </li>
		            
		          </ul>
		          
		          <ul class="nav navbar-nav navbar-right">
		            <li class="donate" style="background-color: #911f0f;"><a href="#donate" style="color: #FFFFFF;">DONATE NOW</a></li>
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </nav>
		</div>
	</div>
    
    <div class="container contain-analyze">
    	<form class="form-horizontal" enctype="multipart/form-data" action="treeview.html" method="post">
    		<div class="" style="margin: 45px; border: 1px solid #911f0f;;border-radius: 4px;padding: 20px;">
    			<div class="form-group form-group-lg">
			    <label class="col-sm-2 control-label" for="formGroupInputLarge">Enter Query Sequence</label>
			    <div class="col-sm-10">
			      <textarea id="seq" class="reset" rows="8" name="QUERY" suggesthint="" value="" style="margin: 0px; width: 60%;"></textarea>
			    </div>
			  </div>
				   <div class="form-group form-group-lg">
					    <label class="col-sm-2 control-label">Choose a file</label>
					    <div class="col-sm-10">
					      <input id="" class="" type="file" >
					    </div>
					  </div>
				  <!--<div class="form-group form-group-lg">
				    <label class="col-sm-2 control-label" for="formGroupInputSmall">Choose a file</label>
				    <div class="col-sm-10">
				      <input id="file-0a" class="file" type="file" >
				    </div>
				  </div>-->
				  <div class="form-group form-group-lg">

				    <label class="col-sm-2 control-label" for="formGroupInputSmall">Databases</label>
				    <div class="col-sm-10">
				      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
				    </div>
				  </div>
				  <div class="form-group form-group-lg">
				    <label class="col-sm-2 control-label" for="formGroupInputSmall">Algorithm</label>
				    <div class="col-sm-10">
				      <select class="form-control">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
				    </div>
				  </div>
					<div class="form-group form-group-lg">
				    <div class="col-sm-10 col-sm-offset-2">
				      <button type="reset" class="btn btn-warning">reset</button>
							<button type="submit" class="btn btn-primary">submit</button>
				    </div>
				  </div>
					
    		</div>
			  </form>
    	<!--<form enctype="multipart/form-data" action="/uploadFile/" method="post">
	    	<div class="row" style="margin: 45px; border: 1px solid #911f0f;;border-radius: 4px;">
	    		<div id="" class="col-lg-12 col-sm-12 col-md-12">
	    			<div class="htmleaf-container">
                <div class=" kv-main" style="width: 100%;">
                  <h3>Enter Query Sequence</h3>
                  <textarea id="seq" class="reset" rows="5" cols="80" name="QUERY" suggesthint="" value="" style="margin: 0px; width: 504px; height: 80px;"></textarea>
            		</div>
	    			</div>
	    		</div>
	    		<div class="col-lg-12 col-sm-12 col-md-12">
	    			<div class="htmleaf-container">
                <div class=" kv-main" style="width: 100%; float: left;">
                  <h3>Choose a file</h3>
                  <input id="file-0a" class="file" type="file" >
            		</div>
	    			</div>
	    		</div>
	    		<div class="col-lg-12 col-sm-12 col-md-12">
	    			<div class="htmleaf-container">
                <div class=" kv-main" style="width: 50%;">
                  <h3>Databases</h3>
                  <select name="DATABASE" id="DATABASE" class="reset checkDef" defval="nr">
										<option value="nr" orgdict="blast_nr_prot_sg" show="kmerAll">Non-redundant protein sequences (nr)</option>
										<option value="refseq_protein" orgdict="blast_refseq_protein_sg">Reference proteins (refseq_protein)</option>
										<option value="SMARTBLAST/landmark" orgdict="bdb_smblst_landmrk_sg">Model Organisms (landmark)</option>
										<option value="swissprot" orgdict="taxids_sg">UniProtKB/Swiss-Prot(swissprot)</option>
										<option value="pat" orgdict="taxids_sg">Patented protein sequences(pat)</option>
										<option value="pdb" orgdict="taxids_sg">Protein Data Bank proteins(pdb)</option>
										<option value="env_nr" orgdict="taxids_sg">Metagenomic proteins(env_nr)</option>	
										<option value="tsa_nr" orgdict="taxids_sg">Transcriptome Shotgun Assembly proteins (tsa_nr)</option>	        
									</select>
            		</div>
	    			</div>
	    		</div>
	    		<div class="col-lg-12 col-sm-12 col-md-12">
			    		<div class=" kv-main" style="width: 50%;">
	              <h4>Algorithm</h4>
	              <select name="DATABASE" id="DATABASE" class="reset checkDef" defval="nr">
										<option value="nr" orgdict="blast_nr_prot_sg" show="kmerAll">Non-redundant protein sequences (nr)</option>
										<option value="refseq_protein" orgdict="blast_refseq_protein_sg">Reference proteins (refseq_protein)</option>
										<option value="SMARTBLAST/landmark" orgdict="bdb_smblst_landmrk_sg">Model Organisms (landmark)</option>
										<option value="swissprot" orgdict="taxids_sg">UniProtKB/Swiss-Prot(swissprot)</option>
										<option value="pat" orgdict="taxids_sg">Patented protein sequences(pat)</option>
										<option value="pdb" orgdict="taxids_sg">Protein Data Bank proteins(pdb)</option>
										<option value="env_nr" orgdict="taxids_sg">Metagenomic proteins(env_nr)</option>	
										<option value="tsa_nr" orgdict="taxids_sg">Transcriptome Shotgun Assembly proteins (tsa_nr)</option>	        
									</select>
	        		</div>
	        </div>
	    	</div>
    	</form>-->
  </div>
	<footer class="footer">
        <div class="container">
        <p class="text-foot">2018,CopyRight © College of Bioinformatics Science and Technology, Harbin Medical University, China.</p>
      </div>
    </footer>
    <script src="../static/js/jquery-2.1.0.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    

    <script src="../static/js/fileinput.min.js"></script>
    <script type="text/javascript">
    	$(window).scroll(function () {  
            var menu_top = $('#menu_wrap').offset().top;  
            if ($(window).scrollTop() >= menu_top) {  
                $('.menu').addClass('menuFixed')  
            }  
            else {  
                $('.menu').removeClass('menuFixed')  
            }  
       }); 
		$(document).ready(function(){
		    $("#scroll-listen-top-nav li").click(function(){
		        $(this).addClass("current").siblings().removeClass("current")
		    });
		});
		$('#file-0a').fileinput({
//      language: 'zh',
//      uploadUrl: '/uploadFile/',
        'showPreview' : false,
        allowedFileExtensions : ['csv', 'txt','xlsx'],
        'elErrorContainer': '#errorBlock'
    });
    </script>
  </body>
</html>
